*{
    margin: 0;
    padding:0;
    list-style: none;
    font-family: '微软雅黑';
}
a{
    text-decoration: none;
}
header{
    width:100%;
    height:107px;
}
header > .fk{
    width:1200px;
    height:107px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header > .fk > .hdimg{
    display: block;
    width:153px;
    height:91px;
    background: #000;
}
header > .fk > .headz{
    width:506px;
    height:50px;
}
header > .fk > .headz > li{
    width: 80px;
    height: 48px;
    float: left;
    line-height: 48px;
    text-align: center;
    position: relative;
}
header > .fk > .headz > li>a{
    color: #000000;
    width:100%;
    height: 100%;
    display: block;
}
header > .fk > .headz > li:nth-of-type(4){
    border-bottom: 3px solid #4AB344;
}
header > .fk > .headz > li:nth-of-type(4)>a{
    color: #4AB344;
}
header > .fk > .headz > li:hover{
    border-bottom: 3px solid #4AB344;
}
header > .fk > .headz > li:hover a{
    color: #4AB344;
}
header > .fk > .headr{
    width:156px;
    height:44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headr{
    width:156px;
    height:44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E6E6E6;
    position: relative;
    transition: 0.5s;
}
.uzi{
    width: 300px;
    height: 138px;
    position: absolute;
    left:-144px;
    top:44px;
    border: 1px solid #E6E6E6;
    background: #fff;
    display: none;
}
.uzi>span:first-child{
    margin-left: 20px;
    margin-top: 35px;
    display: block;
    width: 63px;
    height: 63px;
    float: left;
}
.uzi>span:last-child{
    font-size: 12px;
    color:#919191;
    display: block;
    width: 100px;
    height: 50px;
    float: left;
    margin-top: 46px;
    margin-left: 37px;
}
.headr > i:first-of-type{
    width:46px;
    height:42px;
    display: block;
}
.headr > i:last-of-type{
    width:10px;
    height:6px;
    background: url("../img/2017-10-11_111544.png");
    display: block;
}
.headr >a{
    color: #919191;
    font-size: 12px;
}
.banner{
    width:100%;
    height:550px;
}
.center{
    width:1200px;
    height:1170px;
    margin:0 auto;
}
.containerLeft{
    width:210px;
    height:1160px;
    padding:0 10px 10px 0;
    overflow: hidden;
    float: left;
}
.containerLeft1{
    width:210px;
    height: 196px;
    margin: 10px 0;
}
.biankuang{
    border: 1px solid #DADADA;
}
.containerLeft1>li:first-child{
    width:200px;
    padding-left: 10px;
    background: #5FAD01;
    font-size: 16px;
    height:45px;
    line-height: 45px;
    color: white;
}
.containerLeft1>.biankuang>li{
    width:190px;
    margin:0 auto;
    font-size: 14px;
    height: 49px;
    line-height: 49px;
    background: #fff;
    border-bottom: 1px dashed #DADADA;
}
.containerLeft1>.biankuang>li:last-child{
    border: none;
}
.containerLeft1>.biankuang>li>a{
    color: #222222;
    font-size: 14px;
}
.containerLeft1>.biankuang>li>a:hover{
    color: #5FAD01;
}
.containerLeft2{
    width:210px;
    height:228px;
    box-sizing: border-box;
}
.containerLeft2>li{
    width:200px;
    height: 45px;
    padding-left: 10px;
    background: #5FAD01;
    font-size: 16px;
    color: white;
    line-height: 45px;
}
.biankuang2{
    border: 1px solid #DADADA;
    width:188px;
    height:160px;
    padding:5px 10px 5px 10px;
}
.containerLeft2>.biankuang2>li:first-of-type{
    height:60px;
    border-bottom: 1px dashed #DADADA;
    overflow: hidden;
}
.biankuang2txt>span,.biankuang2txt2>span{
    background: url("../img/pa45.gif") no-repeat center;
    display: block;
    width:21px;
    height:21px;
    float: left;
    margin-right: 5px;
}
.biankuang2txt>p,.biankuang2txt2>p{
    float: left;
    font-size: 14px;
    color: rgb(102,102,102);
}
.biankuang2txt2,.biankuang2txt{
    height: 25px;
    width:120px;
}
.biankuang2txt{
    margin-top: 5px;
}
.zhong{
    width:120px;
    height: 27px;
    margin-top: 5px;
    overflow: hidden;
}
.zhong>span:first-of-type{
    background: url("../img/zhong.png") no-repeat center;
    display: block;
    width:27px;
    height: 27px;
    float: left;
}
.zhong>span:last-of-type{
    font-size: 15px;
    margin-top: 4px;
    margin-left: 30px;
    display: block;
    color: rgb(102,102,102);
}
.zhong1,.zhong2{
    font-size: 14px;
    color: rgb(102,102,102);
    margin-top: 5px;
}
.zixun{
    width:970px;
    height: 1162px;
    float: left;
}
.zixuntxt{
    width:970px;
    height: 140px;
    background: #ffffff;
    overflow: hidden;
    border-bottom: 1px dashed #DBDBDB;
}
.riqi{
    width:84px;
    height: 84px;
    background: #f2f2f2;
    margin-top: 15px;
    margin-left: 5px;
    overflow: hidden;
    float: left;
}
.ri{
    width:100%;
    line-height: 25px;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}
.year{
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}
.yue{
    display: block;
    width:100%;
    height: 100%;
    color: #888888;
}
.newtxt{
    display: block;
    width:770px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    color: #000000;
    font-size: 18px;
}
.zixuntxt>p{
    font-size: 14px;
    margin-top: 4px;
    display: block;
    float: left;
    margin-left: 15px;
    color: #808080;
}
.zixuntxt1{
    width:970px;
    height: 140px;
    background: #ffffff;
    overflow: hidden;
    border-bottom: 1px dashed #DBDBDB;
    margin-top: 20px;
}
.zixuntxt1>p{
    font-size: 14px;
    margin-top: 4px;
    display: block;
    float: left;
    margin-left: 15px;
    color: #808080;
}
#aa{
    border-bottom: none;
}
.yeshu{
    width:960px;
    margin-top: 20px;
}
.yeshu1{
    margin:0 auto;
    width:200px;
}
.yeshu1>span{
    margin-right: 15px;
    color: #999999;
    font-size: 14px;
}
.last{
    width:100%;
    height: 565px;
    background: url("../img/bgm.jpg") no-repeat center;
    overflow: hidden;
}
.form{
    width:1200px;
    height:419px;
    margin:50px auto;
    padding: 0 5px;
    box-sizing: border-box;
}
.form4{
    width:1200px;
    height: 68px;
    display: flex;
    justify-content: space-between;
}
.form1{
    width:200px;
    height:67px;
    float: left;
}
.form1>img{
    margin-right: 15px;
    float: left;
}
.form1>.fmtxt{
    width:117px;
    height:100%;
    float: left;
}
.fmtxt>span:first-child{
    font-size: 18px;
    color: #fff;
    display: block;
    margin-top: 10px;
}
.fmtxt>span:nth-child(2){
    font-size: 14px;
    color: rgba(146,202,158,1);
    margin-top: 5px;
    display: block;
}
.xiexian{
    display: block;
    float: left;
    width:31px;
    height: 63px;
}
.lastxian{
    width:1200px;
    height: 2px;
    background: #129235;
    margin:0 auto;
    margin-top: 65px;
}
.lasttxt{
    width:1120px;
    margin:0 auto;
    margin-top: 70px;
    height: 230px;
    display: flex;
    justify-content: space-between;
}
.txt1{
    width:140px;
    height: 160px;
}
.txt1>span{
    font-size: 18px;
    color: white;
}
.txt11{
    padding-top: 20px;
    font-size: 14px;
    line-height: 25px;
    color: rgba(146,202,158,1);;
}
.lasts{
    width:100%;
    height: 44px;
    margin-top: 30px;
}
.lasts>p{
    text-align: center;
    font-size: 14px;
    color: #92ca9d;
}
.lasts1{
    margin:0 auto;
    font-size: 14px;
    color: #92ca9d;
    padding-left:450px ;
    box-sizing: border-box;
}
.lasts1>span:first-of-type{
    border-left: 1px solid #92ca9d;
    padding-left: 5px;
}
.lasts1>span:nth-of-type(2){
    border-right: 1px solid #92ca9d;
    padding-right: 5px;
}
.lasts1>a{
    color: #92ca9d;
}